<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card card-sh">
                    <div class="card-header text-center">
                        <p class="fs-4">Edit Product</p>
                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionService()}"></th:block>
                        </th:block>


                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionService()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${Product.id}">
                            <div class="md-3 mt-3">
                                <label>Enter Title</label>
                                <input type="text" name="title" class="form-control" th:value="${Product.title}">
                            </div>

                            <div class="md-3 mt-3">
                                <label>Enter Description</label>
                                <textarea rows="5" cols="5" class="form-control" name="description">[[${Product.description}]]</textarea>
                            </div>
                        <div class="row">
                            <div class=" col mb-3">
                                <label>Category</label>
                                <select class="form-control" name="category">
                                    <option>[[${Product.category}]]</option>
                                    <option th:each="c:${categories}" name="category">[[${c.name}]]</option>
                                </select>
                            </div>


                            <div class="col mb-3">
                                <label>Enter Price</label>
                                <input type="number" name="price" class="form-control" th:value="${Product.price}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col mb-3">
                                <label>Enter Discount</label>
                                <input type="number" name="discount" class="form-control" th:value="${Product.discount}">
                            </div>

                            <div class="col mb-3">
                                <label>Discount Price</label>
                                <input type="number" name="discountPrice" class="form-control" th:value="${Product.discountPrice}">
                            </div>
                        </div>
                            <div class="md-3 mt-3">
                                <label>Status</label>
                                [[${Product.isActive}]]
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" value="true" id="radioDefault1" th:checked="${Product.isActive}">
                                    <label class="form-check-label" for="radioDefault1">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" value="false"  id="radioDefault2" th:checked="${Product.isActive}" >
                                    <label class="form-check-label" for="radioDefault2">
                                        Inactive
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label>Stock</label>
                                    <input type="number" name="stock" class="form-control" th:value="${Product.stock}">
                                </div>

                                <div class="col mb-3">
                                    <label>Image</label>
                                    <input type="file" name="file" class="form-control">
                                    <img th:src="${Product.imageName}" width="100px" height="100px" >
                                </div>
                            </div>

                            <div class="md-3 mt-3">
                                <button class="btn btn-primary col-md-12">Update</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>