<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<section>
    <div class="container mt-5 p-6">
        <div class="row">
            <div class="col-md-6 text-center p-5 offset-md-3">
                <i class="fa-solid fa-circle-check text-success fa-8x"></i><br><br>
                <p class="text-center fs-4">Product is Ordered Successfully</p>
                <p class="text-center fs-4">The Product will be delivered Within 7 days</p>
                <div class="text-center">
                <a href="/" class="btn btn-primary ">Home</a>
                <a href="#" class="btn btn-primary">Your Order</a>
                </div>

            </div>

        </div>
    </div>
</section>

</body>
</html>