<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<section>
    <div class="container mt-5 p-6">
        <div class="row">
            <div class="col-md-6 mt-4 p-5">
                <img src="image/loginreg.jpg" width="500px" height="500px">

            </div>
            <div class="col-md-6 mt-5 p-5">
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center">Reset Password</p>
                        <!--                        <div th:if="${param.error}" class="alert alert-danger"-->
                        <!--                             th:text="${session.SPRING_SECURITY_LAST_EXCEPTION != null} ? ${session.SPRING_SECURITY_LAST_EXCEPTION.message} : 'Invalid username or password.'">-->
                        <!--                        </div>-->


                        <!--                        <div th:if="${param.logout}" class="alert alert-success">-->
                        <!--                            Logout Successfully-->
                        <!--                        </div>-->
                    </div>
                    <div class="card-body shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <form action="/resetPassword" method="post">
                            <div class="mb-3">
                                <label class="form-label">New Password</label>
                                <input class="form-control" name="password" type="password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm Password</label>
                                <input class="form-control"  type="password">
                            </div>
                            <input type="hidden" th:value="${token}" name="token">
                            <button type="submit"
                                    class="btn bg-primary text-white col-md-12">Reset Password</button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>